@page "/colorPicker"
<PageTitle>001 - pick a color.</PageTitle>

<h3>Color Picker</h3>

<Components.ColorPicker />



<h3>Github:</h3>
<p><a href="https://github.com/r4gingpixel/blazorcomponents/blob/main/BlazorComponents/Components/ColorPicker.razor" target="_blank">project source</a></p>
